<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body bgcolor="cyan">
<table bgcolor="grey" width=100%>
    <td>
        <center>
            <h1> Time Tracking Application Database.</h1>
        </center>
    </td>
</table>
{% if user.is_authenticated %}
<label><h2> <a href="/app4/logout/"><b>Logout</b></a></h2> </label>
{% endif %}

<form  action="details" method="post">
    {% csrf_token %}
    {{message}}
    <h2>Select Date:<input type="date" name="date2"></h2>
    <input type="submit" value="submit" >
    <br/>
</form>
<center>
    <table border="3" bgcolor="sky" style="color:orange;" width=70%>
        <tr>
            <th>Task</th>
            <th>Project</th>
            <th>Date</th>
            <th>Start Time</th>
            <th>Stop Time</th>
            <th>Total Time</th>
        </tr>
        {% for i in result %}
            <tr>
                 <td>{{i.task}}</td>
                <td>{{i.project}}</td>
                <td>{{i.Date}}</td>
                <td>{{i.start_time}}</td>
                <td>{{i.stop_time}}</td>
                <td>{{i.total_time}}</td>
            </tr>
        {% endfor %}
    </table>
</center>
</body>
</html>